@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
html { 
  background: url(https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
    color:antiquewhite
}
body {
    background-color: transparent;
    text-align: center;
    font-family: 'Noto Serif', serif;
    color:whitesmoke
}
a {
    color:White;
}
a:active {
    color:White;
}
a:followed {
    color:white;
}
.nameattop {
    font-size: 50pt;
    font-family: Open Sans;
}