@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
html { 
  background: url(abstract-astro-astronomy-956999.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
    color:antiquewhite
}
body {
    background-color: transparent;
    text-align: center;
    font-family: 'Noto Serif', serif;
    color:whitesmoke
}
a {
    color:White;
}
a:active {
    color:White;
}
a:followed {
    color:white;
}
.nameattop {
    font-size: 50pt;
    font-family: Open Sans;
    background-color: transparent;
}
a:link, a:visited {
  background-color:slategray;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: lightsteelblue;
}
